openapi: '3.0.0'
info:
  version: 1.0.0
  title: Twilio Communications API
  license:
    name: MIT
servers:
  - url: https://api.twilio.com/v1
paths:
  /messages:
    get:
      summary: List messages
      description: Retrieves a paginated list of messaging records sent through Twilio. Use the limit parameter to control page size.
      operationId: listMessages
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of messages
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Messages'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create message
      operationId: createMessage
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /messages/{messageId}:
    get:
      summary: Get message details
      description: Retrieves detailed information about a specific message delivery by its unique identifier. Use this to inspect delivery state and channel details.
      operationId: showMessageById
      parameters:
        - name: messageId
          in: path
          required: true
          description: The id of the message to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /calls:
    get:
      summary: List calls
      description: Retrieves a paginated list of voice call records managed by Twilio. Use the limit parameter to control page size.
      operationId: listCalls
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of calls
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Calls'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create call
      operationId: createCall
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /calls/{callId}:
    get:
      summary: Get call details
      description: Retrieves detailed information about a specific voice call by its unique identifier. Use this to review status, duration, and recipient information.
      operationId: showCallById
      parameters:
        - name: callId
          in: path
          required: true
          description: The id of the call to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Message:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Messages:
      type: array
      items:
        $ref: '#/components/schemas/Message'
    Call:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Calls:
      type: array
      items:
        $ref: '#/components/schemas/Call'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string