openapi: '3.0.0'
info:
  version: 1.0.0
  title: ShopifyMax
  license:
    name: MIT
servers:
  - url: https://api.shopifymax.com/v1
paths:
  /products:
    get:
      summary: List products
      description: Retrieves a paginated list of products from the catalog. Use the limit parameter to control page size when browsing large inventories.
      operationId: listProducts
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of products
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create product
      operationId: createProduct
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /products/{productId}:
    get:
      summary: Get product
      description: Retrieves detailed information about a specific product by its unique identifier. Use this endpoint to check catalog data before showing product pages.
      operationId: showProductById
      parameters:
        - name: productId
          in: path
          required: true
          description: The id of the product to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /checkouts:
    get:
      summary: List checkouts
      description: Retrieves recent checkout sessions and their statuses. Use this to monitor fast checkout performance and active cart flow.
      operationId: listCheckouts
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of checkouts
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkouts'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create checkout
      operationId: createCheckout
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /checkouts/{checkoutId}:
    get:
      summary: Get checkout
      description: Retrieves detailed information about a specific checkout session by its unique identifier. Use this endpoint to verify cart progress and payment readiness.
      operationId: showCheckoutById
      parameters:
        - name: checkoutId
          in: path
          required: true
          description: The id of the checkout to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Checkout'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Product:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        tag:
          type: string
    Products:
      type: array
      items:
        $ref: '#/components/schemas/Product'
    Checkout:
      required:
        - id
        - status
      properties:
        id:
          type: string
        status:
          type: string
        cartToken:
          type: string
    Checkouts:
      type: array
      items:
        $ref: '#/components/schemas/Checkout'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string