openapi: '3.0.0'
info:
  version: 1.0.0
  title: Stripe
  license:
    name: MIT
servers:
  - url: https://api.stripe.com/v1
paths:
  /payments:
    get:
      summary: List payments
      description: Retrieves a paginated list of payment objects for the account. Use the limit parameter to control page size.
      operationId: listPayments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of payments
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a payment
      description: Creates a new payment intent for charging a customer. Returns the created payment on success.
      operationId: createPayments
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /payments/{paymentId}:
    get:
      summary: Get payment details
      description: Retrieves detailed information about a specific payment by its unique identifier. Use this to inspect status, amount, and currency.
      operationId: showPaymentById
      parameters:
        - name: paymentId
          in: path
          required: true
          description: The id of the payment to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /refunds:
    get:
      summary: List refunds
      description: Retrieves a paginated list of refund objects for the account. Use this endpoint to review returned funds and processing status.
      operationId: listRefunds
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of refunds
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refunds'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a refund
      description: Creates a refund for an existing payment. Returns the created refund on success.
      operationId: createRefunds
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /subscriptions/{subscriptionId}:
    get:
      summary: Get subscription details
      description: Retrieves detailed information about a specific subscription by its unique identifier. Use this to check plan, billing cycle, and status.
      operationId: showSubscriptionById
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: The id of the subscription to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscriptions'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Payment:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Payments:
      type: array
      items:
        $ref: '#/components/schemas/Payment'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Refund:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Refunds:
      type: array
      items:
        $ref: '#/components/schemas/Refund'
    Subscription:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Subscriptions:
      type: array
      items:
        $ref: '#/components/schemas/Subscription'