openapi: '3.0.0'
info:
  version: 1.0.0
  title: PlanetScale API
  license:
    name: MIT
servers:
  - url: https://api.planetscale.com/v1
paths:
  /databases:
    get:
      summary: List databases
      description: Retrieves a paginated list of all databases in the account. Use the limit parameter to control page size.
      operationId: listDatabases
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of databases
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Databases'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create database
      operationId: createDatabase
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /databases/{databaseId}:
    get:
      summary: Get database
      description: Retrieves detailed information about a specific database by its unique identifier. Use this when you need configuration, engine, or deployment details.
      operationId: showDatabaseById
      parameters:
        - name: databaseId
          in: path
          required: true
          description: The id of the database to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deployments:
    get:
      summary: List deployments
      description: Retrieves a paginated list of deployment targets and hosting modes. Use this to review managed, self-hosted, or bring-your-own-cloud configurations.
      operationId: listDeployments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of deployments
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /schema-changes:
    post:
      summary: Create schema change
      operationId: createSchemaChange
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Database:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        engine:
          type: string
        sharding:
          type: string
    Databases:
      type: array
      items:
        $ref: '#/components/schemas/Database'
    Deployment:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        mode:
          type: string
        region:
          type: string
    Deployments:
      type: array
      items:
        $ref: '#/components/schemas/Deployment'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string