openapi: '3.0.0'
info:
  version: 1.0.0
  title: Trigger.dev API
  license:
    name: MIT
servers:
  - url: https://api.trigger.dev/v1
paths:
  /jobs:
    get:
      summary: List jobs
      description: Retrieves a paginated list of workflow jobs in your workspace. Use the limit parameter to control page size and monitor recent executions.
      operationId: listJobs
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of jobs
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jobs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a job
      operationId: createJobs
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /jobs/{jobId}:
    get:
      summary: Get job details
      description: Retrieves detailed information about a specific job by its unique identifier. Use this to inspect job state, retries, and execution metadata.
      operationId: showJobById
      parameters:
        - name: jobId
          in: path
          required: true
          description: The id of the job to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jobs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workflows:
    get:
      summary: List workflows
      description: Retrieves a paginated list of workflows configured in your Trigger.dev workspace. Use this to review automations, integrations, and schedule definitions.
      operationId: listWorkflows
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of workflows
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workflows'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/{webhookId}:
    get:
      summary: Get webhook info
      description: Retrieves detailed information about a specific webhook endpoint by its unique identifier. Use this to inspect delivery settings and recent activity.
      operationId: showWebhookById
      parameters:
        - name: webhookId
          in: path
          required: true
          description: The id of the webhook to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhooks'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Job:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Jobs:
      type: array
      items:
        $ref: '#/components/schemas/Job'
    Workflow:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Workflows:
      type: array
      items:
        $ref: '#/components/schemas/Workflow'
    Webhook:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Webhooks:
      type: array
      items:
        $ref: '#/components/schemas/Webhook'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string