openapi: '3.0.0'
info:
  version: 1.0.0
  title: Vercel API
  license:
    name: MIT
servers:
  - url: http://api.vercel.com/v1
paths:
  /deployments:
    get:
      summary: List deployments
      operationId: listDeployments
      parameters:
        - name: limit
          in: query
          description: Maximum number of deployments to return
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of deployments
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create deployment
      operationId: createDeployment
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deployments/{deploymentId}:
    get:
      summary: Get deployment
      operationId: showDeploymentById
      parameters:
        - name: deploymentId
          in: path
          required: true
          description: The id of the deployment to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects:
    get:
      summary: List projects
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: Maximum number of projects to return
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paged array of projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Deployment:
      required:
        - id
        - url
      properties:
        id:
          type: integer
          format: int64
        url:
          type: string
        state:
          type: string
    Deployments:
      type: array
      items:
        $ref: '#/components/schemas/Deployment'
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        createdAt:
          type: string
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string